* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    flex-wrap: wrap;
}
/* Header content */

.container {
    background-color: #1f2937 ;

    display: flex;
    justify-content: space-between;
}

.right, .left {

    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    padding: 5px;
    gap: 25px;
    align-items: center;
}
.right {
    font-size: 18px;
    color: #e5e7eb;
}
.left{
    font-size: 24px;
    color: #f9faf8;
}

/* Main text */

.first {

    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    height: 450px;
    align-items: center;
}

.firstright, .firstleft {
    margin-top: 50px;
    color: #f9faf8;
    font-size: 48px;
    height: 200px;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
}
.firstright {
    margin-left: 150px;
}

#subtext{
    font-size: 18px;
    color: #e5e7eb;
}

#fbtn {
    display: flex;
    color: #f9faf8;
    border-radius: 6px;
    background-color: #3882f6;
    justify-content: center;
    width: 100px;
    align-items: center;

}

#image {
    background-color: #e5e7eb80;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin-right: 150px;
}

/* Information */

.title {
    display: flex;
    justify-content: center;

    background-color: #f9faf8;
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    padding: 5px;
}

.second {
    display: flex;
    justify-content: center;

    padding: 5px;
    gap: 25px;
    background-color: #f9faf8;
    color: #1f2937;
}
.itemcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    
}
.itemimg {
    align-content: center;
    height: 120px;
    width: 150px;
    border-radius: 8px;
    border: rgb(55, 0, 255) solid;
}
.itemtxt {
    align-content: center;
    align-items: center;
    padding: 2px;
    width: 150px;
}

/* Quote section */

.middle {
    display: flex;
    background-color: #e5e7eb;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.midtext {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;

    margin-left: 200px;
    margin-right: 200px;
    padding: 5px;
}
.midauthor {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;

    margin-right: 5px;
    padding: 5px;
}
/* Call to action */

.callcont {
    display: flex;
    background-color: #3882f6;
    height: 120px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 8px;
    align-items: center;
    gap: 380px;
    justify-content: center;
    margin-bottom: 50px;
}
 
.callleft {
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    color: #f9faf8;
    font-weight: bold;


}
.callright {
    display: flex;
    justify-content: center;
    width: 100px;

  
}
.subtext {
    font-weight: normal;
    font-size: smaller;
}
#sbtn {
    color: #f9faf8;
    background-color: #3882f6;
    align-items: center;
    border: #f9faf8 solid;
    width: 120px;
    height: 30px;
    border-radius: 8px;

}

/* Bottom */

.bottom {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 5px;
    height: 50px;
    align-items: center;
}